<%= form_with(model: defendant) do |form| %>
  <% if defendant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(defendant.errors.count, "error") %> prohibited this defendant from being saved:</h2>

      <ul>
        <% defendant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id, 'Persona', class: "form-label" %>
    <%= form.collection_select :person_id, Person.all, :id, :nombre_completo, { :include_blank => true }, {class: 'form-select'} %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar cambios', class: "btn btn-success" %>
  </div>
<% end %>
