<p id="notice"><%= notice %></p>

<h1>Acusados</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Persona</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @defendants.each do |defendant| %>
      <tr>
        <td><%= defendant.person.nombre_completo %></td>
        <td><%= link_to 'Ver', defendant, class: "btn btn-success", style: "color:white" %></td>
        <td><%= link_to 'Editar', edit_defendant_path(defendant), class: "btn btn-primary", style: "color:white" %></td>
        <td><%= link_to 'Eliminar', defendant, class: "btn btn-danger", style: "color:white", method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @defendants %>

<br>

<%= link_to 'Nuevo Acusado', new_defendant_path, class: "btn btn-primary", style: "color:white" %>
