<p id="notice"><%= notice %></p>

<p>
  <strong>Persona:</strong>
  <%= @employee.person.nombre_completo %>
</p>

<p>
  <strong>Puesto:</strong>
  <%= @employee.position %>
</p>

<%= link_to 'Editar', edit_employee_path(@employee) %> |
<%= link_to 'Volver', employees_path %>
