<p id="notice"><%= notice %></p>

<p>
  <strong>Detalles:</strong>
  <%= @trial.details %>
</p>

<p>
  <strong>Fecha y hora:</strong>
  <%= @trial.date %>
</p>

<p>
  <strong>Detalles de la denuncia:</strong>
  <%= @trial.report.details %>
</p>


<%= link_to 'Editar', edit_trial_path(@trial) %> |
<%= link_to 'Volver', trials_path %>
