<%= form_with(model: trial_employee) do |form| %>
  <% if trial_employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trial_employee.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
        <% trial_employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_id, 'Empleado', class: "form-label" %>
    <%= form.collection_select :employee_id, Employee.all, :id, :person_full_name, { :include_blank => true }, {class: 'form-select'} %>
  </div>

  <div class="field">
    <%= form.label :trial_id, 'Fecha y hora del juicio', class: "form-label" %>
    <%= form.collection_select :trial_id, Trial.all, :id, :date, { :include_blank => true }, {class: 'form-select'} %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar Cambios', class: "btn btn-success" %>
  </div>
<% end %>
