<p id="notice"><%= notice %></p>

<p>
  <strong>Persona:</strong>
  <%= @policeman.person.nombre_completo %>
</p>

<p>
  <strong>Comisaría:</strong>
  <%= @policeman.police_station.name %>
</p>

<%= link_to 'Editar', edit_policeman_path(@policeman) %> |
<%= link_to 'Volver', policemen_path %>
