<p id="notice"><%= notice %></p>

<h1>Registrar un empleado en un juicio</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Empleado</th>
      <th scope="col">Fecha y hora del juicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.employee.person_full_name %></td>
        <td><%= registration.trial.date %></td>
        <td><%= link_to 'Ver', registration, class: "btn btn-success", style: "color:white" %></td>
        <td><%= link_to 'Editar', edit_registration_path(registration), class: "btn btn-primary", style: "color:white" %></td>
        <td><%= link_to 'Eliminar', registration, class: "btn btn-danger", style: "color:white", method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Registro', new_registration_path, class: "btn btn-primary", style: "color:white" %>
