<p id="notice"><%= notice %></p>

<p>
  <strong>Empleado:</strong>
  <%= @registration.employee.person_full_name %>
</p>

<p>
  <strong>Fecha y hora del juicio:</strong>
  <%= @registration.trial.date %>
</p>

<%= link_to 'Editar', edit_registration_path(@registration) %> |
<%= link_to 'Volver', registrations_path %>
