<%= form_with(model: complainant) do |form| %>
  <% if complainant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complainant.errors.count, "error") %> prohibited this complainant from being saved:</h2>

      <ul>
        <% complainant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id, class: "form-label" %>
    <%= form.collection_select :person_id, Person.all, :id, :nombre_completo, { :include_blank => true }, {class: 'form-select'} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
