<p id="notice"><%= notice %></p>

<h1>Denunciante</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Persona</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complainants.each do |complainant| %>
      <tr>
        <td><%= complainant.person_id %></td>
        <td><%= link_to 'Ver', complainant, class: "btn btn-success", style: "color:white" %></td>
        <td><%= link_to 'Editar', edit_complainant_path(complainant), class: "btn btn-primary", style: "color:white" %></td>
        <td><%= link_to 'Eliminar', complainant, class: "btn btn-danger", style: "color:white", method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Denunciante', new_complainant_path, class: "btn btn-primary", style: "color:white" %>
