<p id="notice"><%= notice %></p>

<p>
  <strong>Dirección:</strong>
  <%= @property.address.direccion %>
</p>

<p>
  <strong>Detalles:</strong>
  <%= @property.details %>
</p>

<%= link_to 'Editar', edit_property_path(@property) %> |
<%= link_to 'Volver', properties_path %>
