<%= form_with(model: damage) do |form| %>
  <% if damage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(damage.errors.count, "error") %> prohibited this damage from being saved:</h2>

      <ul>
        <% damage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.text_field :property_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
