<%= form_with(model: damage) do |form| %>
  <% if damage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(damage.errors.count, "error") %> prohibited this damage from being saved:</h2>

      <ul>
        <% damage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :table_type, 'Tipo', class: "form-label" %>
    <%= form.text_field :table_type, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :person_id, 'Persona', class: "form-label" %>
    <%= form.collection_select :person_id, Person.all, :id, :nombre_completo, { :include_blank => true }, {class: 'form-select'} %>
  </div>

  <div class="field">
    <%= form.label :property_id, 'Propiedad', class: "form-label" %>
    <%= form.collection_select :property_id, Property.all, :id, :propiedad, { :include_blank => true }, {class: 'form-select'} %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar cambios', class: "btn btn-success" %>
  </div>
<% end %>
