<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @damage.table_type %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @damage.person.nombre_completo %>
</p>

<p>
  <strong>Propiedad:</strong>
  <%= @damage.property.address.direccion %>
</p>

<%= link_to 'Editar', edit_damage_path(@damage) %> |
<%= link_to 'Volver', damages_path %>
