<%= form_with(model: police_station) do |form| %>
  <% if police_station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(police_station.errors.count, "error") %> prohibited this police_station from being saved:</h2>

      <ul>
        <% police_station.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address_id %>
    <%= form.collection_select :address_id, Address.all, :id, :direccion, html_options = { class: "form-select form-control"} %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
