<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @police_station.address_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @police_station.name %>
</p>

<%= link_to 'Edit', edit_police_station_path(@police_station) %> |
<%= link_to 'Back', police_stations_path %>
