<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :street, 'Calle', class: "form-label" %>
    <%= form.text_field :street, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :number, 'Número', class: "form-label" %>
    <%= form.number_field :number, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :floor, 'Piso', class: "form-label" %>
    <%= form.number_field :floor, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :apartment, 'Departamento', class: "form-label" %>
    <%= form.text_field :apartment, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :city_id, 'Ciudad', class: "form-label" %>
    <%= form.collection_select :city_id, City.all, :id, :name, { :include_blank => true }, {class: 'form-select'} %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar cambios', class: "btn btn-success" %>
  </div>
<% end %>
