<p id="notice"><%= notice %></p>

<p>
  <strong>Calle:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Número:</strong>
  <%= @address.number %>
</p>

<p>
  <strong>Piso:</strong>
  <%= @address.floor %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @address.apartment %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @address.city.name %>
</p>

<%= link_to 'Editar', edit_address_path(@address) %> |
<%= link_to 'Volver', addresses_path %>
