<p id="notice"><%= notice %></p>

<h1>Ciudades</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Provincia</th>
      <th scope="col">Nombre</th>
      <th scope="col">Código Postal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.province.name %></td>
        <td><%= city.name %></td>
        <td><%= city.zip_code %></td>
        <td><%= link_to 'Ver', city, class: "btn btn-success", style: "color:white" %></td>
        <td><%= link_to 'Editar', edit_city_path(city), class: "btn btn-primary", style: "color:white" %></td>
        <td><%= link_to 'Eliminar', city, class: "btn btn-danger", style: "color:white", method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Ciudad', new_city_path, class: "btn btn-primary", style: "color:white" %>
