<p id="notice"><%= notice %></p>

<p>
  <strong>Provincia:</strong>
  <%= @city.province.name %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Código Postal:</strong>
  <%= @city.zip_code %>
</p>

<%= link_to 'Editar', edit_city_path(@city) %> |
<%= link_to 'Volver', cities_path %>
