<p id="notice"><%= notice %></p>

<h1>Denuncias</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Fecha y hora</th>
      <th scope="col">Detalles</th>
      <th scope="col">Policía encargado</th>
      <th scope="col">Denunciante</th>
      <th scope="col">Acusado</th>
      <th scope="col">Categoría</th>
      <th scope="col">Tipo de daño</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.date %></td>
        <td><%= report.details %></td>
        <td><%= report.policeman.person_full_name %></td>
        <td><%= report.complainant.person_full_name %></td>
        <td><%= report.defendant.person_full_name %></td>
        <td><%= report.category.name %></td>
        <td><%= report.damage.table_type %></td>
        <td><%= link_to 'Ver', report, class: "btn btn-success", style: "color:white" %></td>
        <td><%= link_to 'Editar', edit_report_path(report), class: "btn btn-primary", style: "color:white" %></td>
        <td><%= link_to 'Eliminar', report, class: "btn btn-danger", style: "color:white", method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @reports %>

<br>

<%= link_to 'Nueva Denuncia', new_report_path, class: "btn btn-primary", style: "color:white" %>
