<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha y hora:</strong>
  <%= @report.date %>
</p>

<p>
  <strong>Detalles:</strong>
  <%= @report.details %>
</p>

<p>
  <strong>Policía a cargo de la denuncia:</strong>
  <%= @report.policeman.person_full_name %>
</p>

<p>
  <strong>Denunciante:</strong>
  <%= @report.complainant.person_full_name %>
</p>

<p>
  <strong>Acusado:</strong>
  <%= @report.defendant.person_full_name %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @report.category.name %>
</p>

<p>
  <strong>Tipo de daño:</strong>
  <%= @report.damage.table_type %>
</p>

<%= link_to 'Editar', edit_report_path(@report) %> |
<%= link_to 'Volver', reports_path %>
